node_modules
!test/plugin-test-config/node_modules/

*.tsbuildinfo

lib/

.DS_Store
.vscode/
*.db
logs/*
bower_components
settings/ssl-key.pem
settings/ssl-cert.pem
/*.iml

*.tgz
work/

test/plugin-test-config/.npmrc
test/plugin-test-config/plugin-config-data/
test/plugin-test-config/ssl-cert.pem
test/plugin-test-config/ssl-key.pem
test/plugin-test-config/baseDeltas.json

test/server-test-config/applicationData/
test/server-test-config/ssl-cert.pem
test/server-test-config/ssl-key.pem
test/server-test-config/plugin-config-data/

docs/built
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/signalk-server/v17
/.vs/signalk-server/FileContentIndex/190893be-dea1-45b7-b0d2-a8a1edcf5b26.vsidx
/.vs/signalk-server/FileContentIndex/19d771a5-c4c8-4952-89bb-0fdf10fcbf23.vsidx
/.vs/signalk-server/FileContentIndex/b2d97e56-5af0-45cf-ae4b-831ee192df77.vsidx
/.vs/signalk-server/FileContentIndex/84f88fd9-bbfe-4631-bfec-39784a5f0986.vsidx
/.vs/signalk-server/FileContentIndex
/.gitignore
/.gitignore
